@import "tailwindcss";

@content [
  "./site/**/*.{html,ejs,js,ts}"
];

@theme {
  --scale-200: 2;
  --scale-300: 3;
  --scale-400: 4;
  --scale-500: 5;
  --transition-property-sizes: font-size, margin, padding;
}

html {
  @apply min-h-full;
}

body {
  @apply flex flex-col min-h-full text-slate-800;
  @apply bg-no-repeat bg-gradient-to-br from-slate-50 to-slate-300;
}

.section {
  @apply px-5 py-10 mx-auto w-full max-w-[600px];
}

.ai-can,
.ai-maybe,
.ai-cant {
  @apply transition-sizes text-lg mb-3 sm:text-xl sm:mb-4;
  display: flex;

  &:before {
    background: url(./icons/can.svg) no-repeat center center;
    background-size: 75%;
    @apply h-6 w-6 mt-0.5 mr-2 bg-emerald-500 rounded-full sm:mr-3;
    content: "";
    display: inline-block;
    flex: 0 0 auto;
  }

  code {
    @apply sm:text-lg;
  }
}

.ai-maybe:before {
  @apply bg-amber-500;
  background-image: none;
  color: #fff;
  content: "~";
  line-height: 1;
  text-align: center;
}

.ai-cant:before {
  @apply bg-red-500;
  background-image: url(./icons/cant.svg);
}
