html {
  @apply h-full;
}

body {
  @apply min-h-full bg-no-repeat bg-gradient-to-br from-slate-50 to-slate-300;
}

.ai-can, .ai-maybe, .ai-cant {
  @apply leading-loose text-xl;

  &:before {
    background: url(./icons/can.svg) no-repeat center center;
    background-size: 75%;
    @apply h-6 w-6 mr-2 bg-emerald-500 rounded-full;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
}
.ai-maybe:before {
  @apply bg-amber-500;
  background-image: none; 
  color: #fff;
  content: "~";
  line-height: 1;
  text-align: center;
}

.ai-cant:before {
  @apply bg-red-500;
  background-image: url(./icons/cant.svg);
}